* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #f0f2f5;
}
.split{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 50px;
}
.left{
    left: 0;
}
.right{
    right: 0;
    margin-top: 70px;
}
.right h2{
    margin-bottom: 10px;
}
.container{
    background-color: #eeeff0;
    padding: 30px 30px;
    width: 30%;
    min-width: 400px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 5px #dcdcdc;
}
.container h1{
    background: #1877f2;
    color: white;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 0px 5px #dcdcdc;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.row span{
    font-weight: 500;
}
input[type="range"]{
    width: 70%;
    height: 6px;
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    border-radius: 9px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #166fe5;
    border-radius: 50%;
    cursor: pointer;
}
#result{
    font-size: 50px;
    font-weight: 750;
    letter-spacing: 2px;
    text-align: center;
    color: #0be881;
}
#category{
    font-size: 25px;
    text-align: center;
    letter-spacing: 1px;
}
.display{
    box-shadow: 0px 0px 0px 5px #dcdcdc;
    margin-bottom: 30px;
}
.underweight{
    background-color: #ffc44d;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 40px;
}
.normal{
    background-color: #0be881;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 40px;
}
.overweight{
    background-color: #ff884d;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 40px;
}
.obese{
    background-color: #ff5e57;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 40px;
}
.text{
    margin-top: 30px;
    margin-right: 50px;;
}
.text h2{
    margin-bottom: 10px;
}
.footer{
    background-color: #166fe5;
    position: fixed;
    bottom: 0;
    margin-bottom: 5px;
    width: 100%;
    color: #a6a8aa;
    text-align: center;
}